*.log
*.out
*.exe

config/tmux/plugins/*
.venv
.direnv
config/nvim/lua/custom/plugins/copilot.lua
.venv
.direnv
build
nixos/examples/nixcpp/.cache/clangd/index
nixos/examples/nixcpp/CMakeFiles
nixos/examples/nixcpp/CMakeCache.txt
